apiVersion: batch/v1
kind: Job
metadata:
  name: playlist-ml
spec:
  template:
    metadata:
      labels:
        app: playlist-ml
    spec:
      restartPolicy: Never
      containers:
      - name: playlist-ml
        image: zzy0110/playlist-ml:latest
        command: ["python", "/app/train_model.py"]
        env:
        - name: DATASET_PATH
          value: "/home/datasets/spotify/2023_spotify_ds2.csv"  # 更新数据集路径
        volumeMounts:
        - name: spotify-dataset
          mountPath: /home/datasets/spotify
      volumes:
      - name: spotify-dataset
        hostPath:
          path: /home/datasets/spotify
          type: Directory

